Repository curevent/curevent, pull requests merged in 2020-03, with the labels that each got.

#15 Add liquibase to project
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/config/application.properties
  backend/src/main/resources/data.changelog/changelog-0.0.1-init.xml
  backend/src/main/resources/data.changelog/master.xml
  frontend/package-lock.json
  frontend/package.json
Labels: backend

#16 Add runOnChange="true" to props
  backend/src/main/resources/data.changelog/changelog-0.0.1-init.xml
Labels: backend, bug

#24 user service added
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/services/UserService.java
Labels: backend

#25 user validation added
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/repositories/UserRepository.java
  backend/src/main/java/com/curevent/services/UserService.java
  backend/src/main/java/com/curevent/utils/UserValidator.java
Labels: backend

#26 tables generation added
  backend/src/main/resources/data.changelog/changelog-0.0.1-init.xml
  backend/src/main/resources/data.changelog/changelog-0.0.2-generate.xml
  backend/src/main/resources/data.changelog/master.xml
Labels: backend

#29 swagger and lombok added
  backend/pom.xml
  backend/src/main/java/com/curevent/CureventApplication.java
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/exceptions/UserAlreadyExistsException.java
  backend/src/main/java/com/curevent/exceptions/UserExceptionHandler.java
  backend/src/main/java/com/curevent/exceptions/UserNotFoundException.java
  backend/src/main/java/com/curevent/models/User.java
  backend/src/main/java/com/curevent/models/entities/UserEntity.java
  backend/src/main/java/com/curevent/models/transfers/UserTransfer.java
  backend/src/main/java/com/curevent/repositories/UserRepository.java
  backend/src/main/java/com/curevent/services/UserService.java
  backend/src/main/java/com/curevent/utils/UserValidator.java
  backend/src/main/resources/data.changelog/changelog-0.0.2-generate.xml
Labels: all-project, backend

#35 post requests return transfers, add getAll requests
  backend/src/main/java/com/curevent/controllers/CategoryController.java
  backend/src/main/java/com/curevent/controllers/CommentController.java
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/controllers/EventTagController.java
  backend/src/main/java/com/curevent/controllers/RelationshipController.java
  backend/src/main/java/com/curevent/controllers/TagController.java
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/controllers/TemplateTagController.java
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/repositories/EventRepository.java
  backend/src/main/java/com/curevent/repositories/TemplateRepository.java
  backend/src/main/java/com/curevent/services/CommentService.java
  backend/src/main/java/com/curevent/services/EventService.java
  backend/src/main/java/com/curevent/services/EventTagService.java
  backend/src/main/java/com/curevent/services/RelationshipService.java
  backend/src/main/java/com/curevent/services/TemplateService.java
  backend/src/main/java/com/curevent/services/TemplateTagService.java
Labels: backend

#38 messages to exceptions added
  backend/src/main/java/com/curevent/controllers/CategoryController.java
  backend/src/main/java/com/curevent/controllers/CommentController.java
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/controllers/TagController.java
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/exceptions/CategoryNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/CommentNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/EventNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/TagNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/TemplateNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/UserNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/handlers/CommentExceptionHandler.java
  backend/src/main/java/com/curevent/exceptions/handlers/EventExceptionHandler.java
  backend/src/main/java/com/curevent/exceptions/handlers/TagExceptionHandler.java
  backend/src/main/java/com/curevent/exceptions/handlers/TemplateExceptionHandler.java
Labels: backend

#39 renamed add request
  backend/src/main/java/com/curevent/controllers/CategoryController.java
  backend/src/main/java/com/curevent/controllers/CommentController.java
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/controllers/RelationshipController.java
  backend/src/main/java/com/curevent/controllers/TagController.java
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/controllers/UserController.java
Labels: backend

#48 Add template service
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/exceptions/ResponceException.java
  backend/src/main/java/com/curevent/exceptions/handlers/ResponceExceptionHandler.java
  backend/src/main/java/com/curevent/models/entities/Event.java
  backend/src/main/java/com/curevent/models/entities/Template.java
  backend/src/main/java/com/curevent/models/transfers/EventTransfer.java
  backend/src/main/java/com/curevent/models/transfers/TemplateTransfer.java
  backend/src/main/java/com/curevent/repositories/EventRepository.java
  backend/src/main/java/com/curevent/repositories/TemplateRepository.java
  backend/src/main/java/com/curevent/services/EventService.java
  backend/src/main/java/com/curevent/services/TemplateService.java
  backend/src/main/java/com/curevent/services/UserService.java
  backend/src/main/resources/changelog-0.0.2-generate.xml
Labels: backend

#49 Update cruds
  backend/src/main/java/com/curevent/controllers/CategoryController.java
  backend/src/main/java/com/curevent/controllers/CommentController.java
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/controllers/RelationshipController.java
  backend/src/main/java/com/curevent/controllers/TagController.java
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/exceptions/RelationshipNotFoundException.java
  backend/src/main/java/com/curevent/exceptions/handlers/RelationshipExceptionHandler.java
  backend/src/main/java/com/curevent/models/entities/Category.java
  backend/src/main/java/com/curevent/models/entities/Event.java
  backend/src/main/java/com/curevent/models/entities/Template.java
  backend/src/main/java/com/curevent/models/transfers/EventTransfer.java
  backend/src/main/java/com/curevent/repositories/EventRepository.java
  backend/src/main/java/com/curevent/repositories/TemplateRepository.java
  backend/src/main/java/com/curevent/services/CategoryService.java
  backend/src/main/java/com/curevent/services/CommentService.java
  backend/src/main/java/com/curevent/services/EventService.java
  backend/src/main/java/com/curevent/services/RelationshipService.java
  backend/src/main/java/com/curevent/services/TagService.java
  backend/src/main/java/com/curevent/services/UserService.java
  backend/src/main/java/com/curevent/utils/validation/UserValidator.java
Labels: backend

#53 Add timeline service
  backend/pom.xml
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/repositories/EventRepository.java
  backend/src/main/java/com/curevent/services/TemplateService.java
  backend/src/main/java/com/curevent/services/TimelineService.java
Labels: backend

#57 Add constants
  backend/src/main/java/com/curevent/controllers/EventController.java
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/controllers/UserController.java
  backend/src/main/java/com/curevent/services/TemplateService.java
  frontend/src/redux/api/ApiEndpoints.js
Labels: backend

#61 Add tests
  backend/src/main/java/com/curevent/controllers/TemplateController.java
  backend/src/main/java/com/curevent/models/entities/Template.java
  backend/src/main/java/com/curevent/services/TemplateService.java
  backend/src/test/java/com/curevent/TemplateControllerTests.java
  backend/src/test/java/com/curevent/UserControllerTests.java
Labels: backend
